body {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", "Poppins", sans-serif, serif;
    font-size: 18px;
}

a {
    color: black;
    text-decoration-color: #e66dcb;
}

.serif {
    font-family: "Poppins", serif;
}

nav {
    background-color: rgb(25, 18, 32);
    padding: 0.1em 0.2em;
}

nav>ul {
    list-style: none;
    margin: 1em;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0.5em;
    color: white;
}

nav li a {
    color: white;
}

header {
    width: auto;
    margin: 1.5em 20vw 1.5em 30vw;
}

header h1 {
    font-weight: 900;
    font-size: 3em;
}

.banner {
    width: 100%;
}

.author {
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.author>p {
    padding: 0.25em 0.5em;
    font-style: italic;
}

.author img {
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    position: relative;
}

article {
    width: 45vw;
}

section {
    display: block;
    line-height: 1.5em;
    margin: 0.5em 0 3em;
}

aside {
    font-size: 1.25em;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

aside ol {
    margin: 0.5em 2em 0 0;
    padding-right: 1em;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

footer {
    padding: 1em 2em;
    background-color: rgb(72, 0, 61);
    color: white;
    display: flex;
    flex-direction: row;
}

footer>h1 {
    color: white;
}

footer a {
    color: white;
}